<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="Sifremi_Unuttum.Properties.Settings.Stok_Takip_OtomasyonuConnectionString" connectionString="Data Source=DESKTOP-DRVH66G\SQLEXPRESS;Initial Catalog=Stok_Takip_Otomasyonu;Integrated Security=True" providerName="System.Data.SqlClient"/>
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1"/>
    </startup>
</configuration>
